main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  padding: 24px;
}

#players {
  position: absolute;
  top: 24px;
  left: 24px;
}
